          <div class="themTacGia">
                        <div class="addtho w-75 m-auto">
                            <br>
                            <h3 class="text-center">THÊM TÁC GIẢ</h3>
                           <div class="form-group">
                                <label class="" >Tên Tác Gỉa</label>
                                <input ng-model="ten" type="text" class="form-control">
                                <label class="" >Năm Sinh</label>
                                <input ng-model="namsinh" type="number" class="form-control">
                                <label class="" >Năm Mất</label>
                                <input ng-model= "nammat" type="text" class="form-control">
                                 <label class="" >Quốc Gia</label>
                                <input ng-model="quocgia" type="text" class="form-control">
                                 <label class="" >Tiểu Sử</label>
                                  <textarea  ng-model="tieusu" class="form-control"  id="comment"></textarea>

                            
                            </div>
                                 <br>
                                  <button  ng-click="them()"  class=" w-100 btn btn-danger">Thêm</button>
                                        <br>
                                        <br>
                                  <div class="alert alert-danger">
                                     <strong>{{mess}}</strong> 
                                   </div>
                        </div>
                             
                   </div>
