
                          <div class= "bodythongbao m-auto">
                            <br>
                            <h4 class="text-center text-danger">BẠN MUỐN XÓA MỤC NÀY</h4>
                            <br>
                            <br>
                            <br>
                           <div>
                              <a  id="a" href="" ng-click="XoaData('no')"><button type="button" class="btn btn-info float-left text-light">{{huy}}</button></a>
                              <a  ng-click="XoaData('yes')"><button type="button" class="btn btn-info text-light">Đồng ý</button></a>
                             </div>
                             <br>
                             <br>
                              
              
                          </div>

                              <br>
                            <div class="alert alert-danger text-center ">
                                     <strong>{{mess}}</strong> 
                            </div>
                             <br>
                            

                         
                      </div>